@use "scss/normalise";
@use "scss/ mixin";

main {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr) minmax(50px, 1fr);
  grid-template-rows: repeat(10, min-content);
  // grid-auto-flow will move cells to fit into grid where gaps are made (resize window to see gaps)
  // grid-auto-flow: dense;

  @include mixin.bp(large) {
    grid-template-columns: 10vw minmax(50px, 50vw) repeat(2, 1fr);
    grid-template-rows: repeat(10, min-content);
  }
}

[data-grid="grid-cell"] {
  border-color: rgb(255 0 72);

  &:hover {
    background: rgb(255 0 72);
  }
}

[data-grid="grid-column"] {
  border-color: rgba(2 143 118 / 0.8);
  grid-column: 3;
  grid-row: 2 / 9;

  @include mixin.bp(large) {
    grid-column: 4;
    grid-row: 1 / 6;
  }

  &:hover {
    background: rgba(2 143 118 / 0.8);
  }

  // Showing overlap
  position: relative;

  &:after {
    background: hsla(0 0% 10% / 0.4);
    bottom: 0;
    color: hsl(0 0% 100%);
    content: "Grid tracks can overlap";
    inset: auto 0 0;
    padding: 0.7rem;
    position: absolute;
  }
}

[data-grid="grid-area"] {
  border-color: rgb(138 0 84);
  grid-column: 1 / span 2;
  grid-row: span 3;

  @include mixin.bp(large) {
    grid-column: 2;
  }

  &:hover {
    background: rgb(138 0 84);
  }
}

[data-grid="grid-row"] {
  background: rgba(255 255 255 / 0.5);
  border-color: rgba(38 95 163 / 0.8);
  grid-column: 1 / -1; // -1 jumps to the last grid line to count from the end
  grid-row: 8;

  @include mixin.bp(large) {
    // declare row to get the overlap
    grid-row: 5;
  }

  &:hover {
    background: rgba(38 95 163 / 0.8);
  }
}

.title {
  grid-column: 1 / -1;
  grid-row: 1;

  @include mixin.bp(large) {
    grid-column: 2;
  }
}

// Styles for fun
// -------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Scope+One|Open+Sans:700");

body {
  background: #fff;
  color: rgb(113 115 136);
  font-family: "Scope One", sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 1rem;
}

h1,
h2 {
  margin: 0;
}

div {
  border: 1px solid #ddd;
  padding: 0.75vw 1vw;
}

h1 {
  color: rgb(113 115 136);
  font-size: 4.5rem;
  font-weight: 700;
  padding-block-start: 0.5rem;
}

h2 {
  color: #999;
  font-size: 1.25rem;
}

[data-grid] {
  border-width: 1px;
  border-style: solid;

  &:hover {
    color: white;
  }
}

a {
  color: hsl(23 74% 59%);
}

p {
  line-height: 1.5;
}

strong {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
